body {
    padding: 100px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.submit-btn {
    margin-top: 16px;
}

.card {
    margin-bottom: 16px;
}

form {
    margin-bottom: 64px;
}

.custom-purple {
    background-color: #6f42c1 !important;
    color: white; /* Change the text color for better visibility */
}

.exp-date {
    text-transform: uppercase;
}

.fa-crown {
    color: #FFA500 !important;
}

@media (min-width: 1200px) {
    .h2, h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
}

@media (min-width: 1200px) {
    .h3, h3 {
      font-size: 1.25rem;
      margin-bottom: 32px;
    }
}